body {
    background: url("images/background-img.jpg") center center no-repeat;
    background-size: cover;
    width: 100%;
    height: 100%;
}

#header {
    color: white;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

#video {
    float: right;
    clear: right;
}

div {
    clear: right;
  }
  
  ul {
    position: fixed;
    top: 0;
    width: 100%;
  }
  @media screen and (min-width: 480px) {
    #video {width: 200px; float: left;}
    #main {margin-left: 216px;}
  }
  .form{
    display: flex;
    flex-direction: column;
  }